nav {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 14px 30px;
    color: #000;
    text-decoration: none;
    transition: background 0.3s;
}

nav ul li:hover > a {
    background-color: #555;
    color: #fff;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    padding: 0;
    margin: 0;
}

nav ul li ul li a {
    padding: 12px 20px;
    background-color: #d6d6d6;
    color: #000;
}

nav ul li ul li:last-child a {
    background-color: #555;
    color: #fff;
}

nav ul li ul li a:hover {
    background-color: #777;
    color: #fff;
}

nav ul li:hover ul {
    display: block;
}

body {
    background-color: #1f4156;
}